<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Boostsales\Paymentfee\Model\Calculation\Calculator\CalculatorInterface" type="Boostsales\Paymentfee\Model\Calculation\CalculationService" />
</config>
